/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Örneğin: src/css/custom.css dosyanıza ekleyin */
.hero .hero--primary {
  background-color: #007bff; /* İstediğiniz mavi tonunu belirleyin */
}

.heroImage {
  max-width: 100%; /* Ensures the image doesn't exceed its container */
  height: auto; /* Maintains aspect ratio */
  margin-bottom: 20px;
  ;
}

@media (min-width: 768px) {
  .heroImage {
    max-width: 20%; /* Adjust for larger screens */
  }
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

